[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = http://github.com/vjousse/symfony-1.4.git
[submodule "plugins/jmsPaymentPlugin"]
	path = plugins/jmsPaymentPlugin
	url = http://github.com/schmittjoh/jmsPaymentPlugin.git
