nbproject
config/databases.yml
cache/*
data/a_writable/*
data/sql/*
log/*
base
web/sf
web/gallery/*
web/upload*
lib/model/doctrine/timpanyPlugin
.buildpath
.project
.settings
lib/form/doctrine/timpanyPlugin/
